aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1649013200726/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1636093929600/work
allennlp @ file:///Users/runner/miniforge3/conda-bld/allennlp-split_1649995044817/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
base58 @ file:///home/conda/feedstock_root/build_artifacts/base58_1635724186165/work
blis @ file:///Users/runner/miniforge3/conda-bld/cython-blis_1649669861532/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1651914230476/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1651876558220/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854217904/work
cached-path @ file:///Users/runner/miniforge3/conda-bld/cached_path_1649472867563/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1640686991047/work
catalogue @ file:///Users/runner/miniforge3/conda-bld/catalogue_1649412278309/work
certifi==2021.10.8
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1636046166270/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1645238136013/work
cloudpickle==2.0.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cryptography @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-cn99yw1m/cryptography_1639499039549/work
cycler==0.11.0
cymem @ file:///Users/runner/miniforge3/conda-bld/cymem_1649412242659/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1623610058511/work
docker-pycreds==0.4.0
fairscale @ file:///Users/runner/miniforge3/conda-bld/fairscale_1647924623321/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1645136850180/work
fonttools==4.33.3
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1648772000562/work
future @ file:///Users/runner/miniforge3/conda-bld/future_1649010196719/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1635085722655/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1645531658201/work
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1651860742494/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1650592442422/work
google-cloud-core @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-core_1642607638110/work
google-cloud-storage @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-storage_1644876711050/work
google-crc32c @ file:///Users/runner/miniforge3/conda-bld/google-crc32c_1651517395034/work
google-resumable-media @ file:///home/conda/feedstock_root/build_artifacts/google-resumable-media_1635195007097/work
googleapis-common-protos @ file:///Users/runner/miniforge3/conda-bld/googleapis-common-protos-feedstock_1647557644942/work
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpcio_1648220952588/work
gym==0.23.1
gym-notices==0.0.6
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1637964070496/work
huggingface-hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1649251997099/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1648728616176/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1651774399431/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1647416812516/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jsonnet @ file:///Users/runner/miniforge3/conda-bld/jsonnet_1649511668560/work
kiwisolver==1.4.2
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
lmdb @ file:///Users/runner/miniforge3/conda-bld/python-lmdb_1644189524859/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1648737587623/work
matplotlib==3.5.2
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1637732846337/work
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1648882471605/work
murmurhash @ file:///Users/runner/miniforge3/conda-bld/murmurhash_1651135572878/work
networkx==2.8
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1640748215808/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1651020440564/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.2
pathtools==0.1.2
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1635227809952/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1649818082882/work
preshed @ file:///Users/runner/miniforge3/conda-bld/preshed_1649427257112/work
promise @ file:///Users/runner/miniforge3/conda-bld/promise_1649695653782/work
protobuf==3.20.0rc2
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1648873046251/work
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///Users/runner/miniforge3/conda-bld/pydantic_1636021450594/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1649603503565/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1648857342405/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz==2022.1
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1648757198437/work
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1650839973576/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1637781155505/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1645745825648/work
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1651557636210/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1640464197451/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1644357749526/work
sentencepiece==0.1.96
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1651601883951/work
setproctitle @ file:///Users/runner/miniforge3/conda-bld/setproctitle_1650296545259/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1612179560728/work
shortuuid @ file:///Users/runner/miniforge3/conda-bld/shortuuid_1644056369207/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
spacy @ file:///Users/runner/miniforge3/conda-bld/spacy_1648712573341/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1645713043381/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1648794027183/work
srsly @ file:///Users/runner/miniforge3/conda-bld/srsly_1649923517290/work
tensorboardX @ file:///home/conda/feedstock_root/build_artifacts/tensorboardx_1645578792360/work
termcolor==1.1.0
thinc @ file:///Users/runner/miniforge3/conda-bld/thinc_1647363132934/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tokenizers @ file:///Users/runner/miniforge3/conda-bld/tokenizers_1649856692003/work
torch==1.10.2
torchvision @ file:///Users/runner/miniforge3/conda-bld/torchvision-split_1648575664342/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1649051611147/work
transformers @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_43b51dd6-c0af-4091-a158-233ff35323a4bby_b738/croots/recipe/transformers_1651834317803/work
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1648670016295/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1650370875435/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1647489083693/work
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1651835949154/work
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1648654410720/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1648966573015/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1649012893348/work
